<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>installs the latest RHQ build (the default parameters point to project ci-rhq-release)&lt;br&gt;&#xd;
Reference: &lt;a href=http://jon01.qa.atl2.redhat.com:8080/display/DEV/JON+Hudson&gt;http://jon01.qa.atl2.redhat.com:8080/display/DEV/JON+Hudson&lt;/a&gt;</description>
  <logRotator>
    <daysToKeep>30</daysToKeep>
    <numToKeep>-1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Workspace:anonymous</permission>
      <permission>hudson.model.Item.Read:anonymous</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>TARGET</name>
          <description>machine to install on</description>
          <defaultValue>auto-rhq01.usersys.redhat.com</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>JON_URL</name>
          <description>URL of where the target machine can download the jon/rhq build</description>
          <defaultValue>http://hudson-qe.rhq.rdu.redhat.com:8080/view/RHQ/job/ci-rhq-master/lastSuccessfulBuild/artifact/modules/enterprise/server/container/target/rhq-server-4.0.0-SNAPSHOT.zip</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>JON_PLUGINPACK_URLS</name>
          <description>Where the target machine can download plugin packs (comma separated if more than one)</description>
          <defaultValue>http://hudson-qe.rhq.rdu.redhat.com:8080/view/RHQ/job/ci-rhq-master/lastSuccessfulBuild/artifact/modules/rhq-plugin-pack-all-SNAPSHOT.zip</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>JON_USER</name>
          <description>User for the RHQ server to run as on the target machine</description>
          <defaultValue>rhq</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.TimerTrigger>
      <spec>0 19 * * *
#7pm daily</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
#killjava
ssh root@$TARGET &lt;&lt;\EOF
  for PROCESS in `ps -ef | grep -e &quot;[A]gentMain\|[r]hq-server&quot; | awk &apos;{print $2}&apos;`; do 
    kill -9 $PROCESS
  done
EOF
/home/hudson/remote-rhq-install.sh $TARGET</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>cli-tests, overnight-test-all-groups-rhq</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>