<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This suite will execute automated test cases from &lt;A HREF=https://tcms.engineering.redhat.com/cases/?a=search&amp;product=157&amp;is_automated=1&amp;case_status=2&amp;=Search&gt;TCMS&lt;/A&gt;&lt;BR/&gt;&#xd;
The default arguments are set to dedicated hardware intended for continuous nightly test runs.&lt;BR/&gt;&#xd;
&lt;H3&gt; To View Results, click TestNG Report&lt;/H3&gt;&#xd;
&lt;H3&gt;MANUAL INSTRUCTIONS:&lt;/H3&gt; &#xd;
&lt;UL&gt;&#xd;
&lt;LI&gt; Click &apos;Build Now&apos; to manually begin a test run. &lt;/LI&gt;&#xd;
&lt;LI&gt; From the list of fields, read their descriptions and set the values appropriate for your testing. &lt;/LI&gt;&#xd;
&lt;LI&gt; Then click the &apos;Build&apos; button. &lt;/LI&gt;&#xd;
&lt;/UL&gt;</description>
  <logRotator>
    <daysToKeep>60</daysToKeep>
    <numToKeep>-1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Read:anonymous</permission>
      <permission>hudson.model.Item.Workspace:anonymous</permission>
      <permission>hudson.model.Item.Build:anonymous</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>TEST_SCRIPT</name>
          <description>testNG XML file containing the test script one wishes to execute</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>sm-tests.xml</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SERVER_HOSTNAME</name>
          <description>hostname of a functional Candlepin server</description>
          <defaultValue>candlepin1.devlab.phx1.redhat.com</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SERVER_PORT</name>
          <description>port through which to access Candlepin server&lt;br&gt;
usually 8443 for an On Premises (stand-alone) Candlepin server</description>
          <defaultValue>443</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>SERVER_ON_PREMISES</name>
          <description>set to true if your Candlepin server is an On Premises (stand-alone) server</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SERVER_INSTALLDIR</name>
          <description>directory where your On Premises Candlepin server is installed and running on your SERVER_HOSTNAME&lt;BR&gt;

This parameter is ignored when SERVER_ON_PREMISES is false.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SERVER_IMPORTDIR</name>
          <description>directory on your On Premises Candlepin server where we can import candlepin product data to populate the candlepin database during the deploy process... git://git.engineering.redhat.com/users/alikins/cp_product_utils.git
&lt;BR/&gt;
This is used to set IMPORTDIR which is used by the candlepin/proxy/buildconf/scripts/import_products.rb script to import product data for testing a standalone on-premise candlepin.
&lt;BR/&gt;
This parameter is ignored when SERVER_ON_PREMISES is false.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SERVER_BRANCH</name>
          <description>This value is used to deploy the specified branch (or master tag) from the git repository onto your On Premises Candlepin server.&lt;BR&gt;
The most common values are:
&lt;UL&gt;
&lt;LI&gt;master&lt;/LI&gt;
&lt;LI&gt;candlepin-latest-tag (THIS IS ACTUALLY A SPECIAL VALUE USED TO FIND THE LATEST GIT TAG)&lt;/LI&gt;
&lt;LI&gt;candlepin-0.0.29-1 (THIS IS JUST AN EXAMPLE CANDLEPIN TAG)&lt;/LI&gt;
&lt;/UL&gt;
This parameter is ignored when SERVER_ON_PREMISES is false.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CLIENT1_HOSTNAME</name>
          <description>hostname of the primary client on which the subscription-manager rpm will be installed and the subscription-manager-cli will be tested</description>
          <defaultValue>jsefler-rhel6-consumer01.usersys.redhat.com</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CLIENT1_USERNAME</name>
          <description>primary username used to register to the Candlepin server</description>
          <defaultValue>xeops</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>CLIENT1_PASSWORD</name>
          <description></description>
          <defaultValue>1fXtIUTGGLuKa6WEDbI00UDSrVafiBRXGX8KgxwadXk=</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CLIENT2_HOSTNAME</name>
          <description>hostname of the secondary client on which the subscription-manager rpm will be installed and the subscription-manager-cli will be tested&lt;BR/&gt;
&lt;FONT color=red&gt;NOTE: Specifying CLIENT2_* values will invoke multi-client testing. To skip multi-client tests, do NOT set a value for this parameter.&lt;/FONT&gt;</description>
          <defaultValue>jsefler-rhel6-consumer02.usersys.redhat.com</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CLIENT2_USERNAME</name>
          <description>secondary username used to register to the Candlepin server&lt;BR/&gt;
&lt;FONT color=red&gt;CLIENT2_USERNAME  must belong to the same owner account as CLIENT1_USERNAME.&lt;/FONT&gt;&lt;BR/&gt;
&lt;FONT color=red&gt;NOTE: Specifying CLIENT2_* values will invoke multi-client testing. To skip multi-client tests, do NOT set a value for this parameter.&lt;/FONT&gt;</description>
          <defaultValue>xeop-stenjoa</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>CLIENT2_PASSWORD</name>
          <description></description>
          <defaultValue>1fXtIUTGGLuKa6WEDbI00UDSrVafiBRXGX8KgxwadXk=</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CLIENT_OWNERNAME</name>
          <description>owner account for both CLIENT1_USERNAME and CLIENT2_USERNAME</description>
          <defaultValue>candlepin-system-admin</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>CLIENT_OWNERPASSWORD</name>
          <description></description>
          <defaultValue>INHAf6A4dsXccDysuclvlEVHASAz1V1v4V5I4m3QNW4=</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CLIENT_REPOFORDEPENDENCIES</name>
          <description>repo label that you have already configured on your client hostname from which dependencies will be resolved and installed from during the install of the subscription-manager rpm
</description>
          <defaultValue>rhel-beta</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>RPM_URL</name>
          <description>URL to the latest subscription-manager RPM that will be installed and tested on the client(s)&lt;BR/&gt;
For example:
&lt;UL&gt;
&lt;LI&gt;http://download.devel.redhat.com/brewroot/packages/subscription-manager/0.72/1.el6/i686/subscription-manager-0.72-1.el6.i686.rpm&lt;/LI&gt;
&lt;LI&gt;http://gibson.usersys.redhat.com/latestrpm/?arch=i686&amp;rpmname=subscription-manager&lt;/LI&gt;
&lt;LI&gt;http://hudson-qe.rhq.rdu.redhat.com:8080/view/Entitlement/job/subscription-manager-latest/lastSuccessfulBuild/artifact/subscription-manager.i386.rpm&lt;/LI&gt;
&lt;/UL&gt;</description>
          <defaultValue>http://hudson-qe.rhq.rdu.redhat.com:8080/view/Entitlement/job/subscription-manager-latest/lastSuccessfulBuild/artifact/subscription-manager.i386.rpm</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PRODCERT_URL</name>
          <description>URL to a product cert (supplied by the developers who are defining what product certs currently look like)</description>
          <defaultValue>http://auto-services.usersys.redhat.com/test-certs/product/rhds.pem</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PRODCERT_PRODUCT</name>
          <description>Product which corresponds to the product cert located at the supplied PRODCERT URL</description>
          <defaultValue>Red Hat Directory Server</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SERVER_BASEURL</name>
          <description>base URL to Candlepin server as set in /etc/rhsm/rhsm.conf (you can usually leave this one alone)</description>
          <defaultValue>http://redhat.com/content</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>USERNAME_TCUNACCEPTED</name>
          <description>username corresponding to a user who has NOT accepted their Red Hat terms and conditions (only works in an IT environment, will be disregarded if running against an On Premises Candlepin server)</description>
          <defaultValue>epgy_bsears</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>PASSWORD_TCUNACCEPTED</name>
          <description>password corresponding to a user who has NOT accepted their Red Hat terms and conditions (only works in an IT environment, will be disregarded if running against an On Premises Candlepin server)</description>
          <defaultValue>1fXtIUTGGLuKa6WEDbI00UDSrVafiBRXGX8KgxwadXk=</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DB_HOSTNAME</name>
          <description>hostname where the candlepin server database resides</description>
          <defaultValue>candlepin1.devlab.phx1.redhat.com</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>DB_SQLDRIVER</name>
          <description>JDBC driver used to connect to the candlepin server database</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>org.postgresql.Driver</string>
              <string>oracle.jdbc.driver.OracleDriver</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DB_PORT</name>
          <description>port on which to connect to the candlepin server database</description>
          <defaultValue>5432</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DB_NAME</name>
          <description>name of the candlepin server database</description>
          <defaultValue>candlepin</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DB_USERNAME</name>
          <description>username used to connect to the candlepin server database</description>
          <defaultValue>candlepin</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>DB_PASSWORD</name>
          <description></description>
          <defaultValue>zlUVSMfFe0FSNXrs2J9z5IQXHYKGXdin/Onh8wauzZ4=</defaultValue>
        </hudson.model.PasswordParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>selenium</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.TimerTrigger>
      <spec>0 4 * * *
# 4:00am daily</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash -xe

cd &quot;$WORKSPACE&quot;
if [ -d automatjon ]; then 
 cd automatjon
 git clean -dxf
 git pull
else
 git clone git://git.rhndev.redhat.com/automatjon
fi

cd &quot;$WORKSPACE&quot;

if [ -d webui-framework ]; then 
 cd webui-framework
 git clean -dxf
 git pull
else
 git clone git://github.com/weissjeffm/webui-framework.git
fi

chmod 600 &quot;$WORKSPACE&quot;/automatjon/sm/.ssh/id*</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Ant>
      <targets>compile</targets>
      <antName>(Default)</antName>
      <buildFile>$WORKSPACE/automatjon/sm/build.xml</buildFile>
    </hudson.tasks.Ant>
    <hudson.plugins.groovy.Groovy>
      <scriptSource class="hudson.plugins.groovy.FileScriptSource">
        <scriptFile>webui-framework/groovy/src/hudson.groovy</scriptFile>
      </scriptSource>
      <groovyName>(Default)</groovyName>
      <parameters>-Dworkspace.dir=$WORKSPACE
-Drhsm.server.hostname=$SERVER_HOSTNAME
-Drhsm.server.port=$SERVER_PORT
-Drhsm.server.onpremises=$SERVER_ON_PREMISES
-Drhsm.server.installdir=$SERVER_INSTALLDIR
-Drhsm.server.importdir=$SERVER_IMPORTDIR
-Drhsm.server.branch=$SERVER_BRANCH
-Drhsm.server.baseurl=$SERVER_BASEURL
-Drhsm.client1.hostname=$CLIENT1_HOSTNAME
-Drhsm.client1.username=$CLIENT1_USERNAME
-Drhsm.client1.password=$CLIENT1_PASSWORD
-Drhsm.client2.hostname=$CLIENT2_HOSTNAME
-Drhsm.client2.username=$CLIENT2_USERNAME
-Drhsm.client2.password=$CLIENT2_PASSWORD
-Drhsm.client.certfrequency=240
-Drhsm.client.enablerepofordeps=$CLIENT_REPOFORDEPENDENCIES
-Drhsm.client.username.tcunaccepted=$USERNAME_TCUNACCEPTED
-Drhsm.client.password.tcunaccepted=$PASSWORD_TCUNACCEPTED
-Drhsm.rpm.url=$RPM_URL
-Drhsm.prodcert.url=$PRODCERT_URL
-Drhsm.prodcert.product=$PRODCERT_PRODUCT
-Drhsm.sshkey.private=automatjon/sm/.ssh/id_auto_dsa
-Drhsm.sshkey.passphrase=dog8code
-Drhsm.client.regtoken=1
-Drhsm.server.db.hostname=$DB_HOSTNAME
-Drhsm.server.db.sqldriver=$DB_SQLDRIVER
-Drhsm.server.db.port=$DB_PORT
-Drhsm.server.db.name=$DB_NAME
-Drhsm.server.db.username=$DB_USERNAME
-Drhsm.server.db.password=$DB_PASSWORD
-Drhsm.client.owner.username=$CLIENT_OWNERNAME
-Drhsm.client.owner.password=$CLIENT_OWNERPASSWORD
</parameters>
      <scriptParameters>automatjon/sm/src/com/redhat/qe/sm/tests/$TEST_SCRIPT</scriptParameters>
      <properties>testng.project.dir=automatjon/sm</properties>
    </hudson.plugins.groovy.Groovy>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>automatjon/sm/test-output/**/*</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>automatjon/sm/test-output-junit/*.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <testDataPublishers/>
    </hudson.tasks.junit.JUnitResultArchiver>
    <htmlpublisher.HtmlPublisher>
      <reportTargets>
        <htmlpublisher.HtmlPublisherTarget>
          <reportName>TestNG Report</reportName>
          <reportDir>automatjon/sm/test-output/html/</reportDir>
          <reportFiles>index.html</reportFiles>
          <keepAll>true</keepAll>
          <wrapperName>htmlpublisher-wrapper.html</wrapperName>
        </htmlpublisher.HtmlPublisherTarget>
      </reportTargets>
    </htmlpublisher.HtmlPublisher>
  </publishers>
  <buildWrappers/>
</project>