<?xml version='1.0' encoding='UTF-8'?>
<maven2-moduleset>
  <actions/>
  <description>Build the RHQ &apos;bugfixes&apos; branch</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>5</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>5</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Read:anonymous</permission>
      <permission>hudson.model.Item.Build:anonymous</permission>
      <permission>hudson.model.Item.Configure:anonymous</permission>
      <permission>hudson.model.Item.Workspace:anonymous</permission>
    </hudson.security.AuthorizationMatrixProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM">
    <configVersion>1</configVersion>
    <remoteRepositories>
      <org.spearce.jgit.transport.RemoteConfig>
        <string>origin</string>
        <int>5</int>
        <string>fetch</string>
        <string>+refs/heads/*:refs/remotes/origin/*</string>
        <string>receivepack</string>
        <string>git-upload-pack</string>
        <string>uploadpack</string>
        <string>git-upload-pack</string>
        <string>url</string>
        <string>git://git.fedorahosted.org/git/rhq/rhq.git</string>
        <string>tagopt</string>
        <string></string>
      </org.spearce.jgit.transport.RemoteConfig>
    </remoteRepositories>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>bugfixes</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <mergeOptions/>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <clean>false</clean>
    <choosingStrategy>Default</choosingStrategy>
    <submoduleCfg class="list"/>
  </scm>
  <assignedNode>maven</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec># every 5 minutes
*/5 * * * *</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <rootModule>
    <groupId>org.rhq</groupId>
    <artifactId>rhq-parent</artifactId>
  </rootModule>
  <goals>--settings=settings.xml -P$JOB_NAME,enterprise -Ddbsetup-do-not-check-schema clean install</goals>
  <defaultGoals>install</defaultGoals>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <incrementalBuild>false</incrementalBuild>
  <usePrivateRepository>true</usePrivateRepository>
  <ignoreUpstremChanges>false</ignoreUpstremChanges>
  <archivingDisabled>true</archivingDisabled>
  <reporters>
    <hudson.maven.reporters.MavenMailer>
      <recipients>jboss-on-team@redhat.com</recipients>
      <dontNotifyEveryUnstableBuild>true</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.maven.reporters.MavenMailer>
  </reporters>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.setenv.SetEnvBuildWrapper>
      <localVarText>LANG=en_US.iso88591
</localVarText>
    </hudson.plugins.setenv.SetEnvBuildWrapper>
    <hudson.plugins.m2extrasteps.M2ExtraStepsWrapper>
      <preBuildSteps>
        <hudson.tasks.Shell>
          <command># Print some environment info.
echo WORKSPACE=${WORKSPACE}
echo JAVA_HOME=${JAVA_HOME}
#M2_HOME=/qa/tools/opt/maven-2.1.0
echo M2_HOME=${M2_HOME}
echo MAVEN_OPTS=${MAVEN_OPTS}

echo &quot;Checking out settings.xml from JON SVN...&quot;
echo t | svn export --username jonadmin --password jmazzite42! https://svn.devel.redhat.com/repos/jboss-jon/trunk/etc/m2/settings.xml
</command>
        </hudson.tasks.Shell>
      </preBuildSteps>
      <postBuildSteps/>
      <runIfResult>allCases</runIfResult>
    </hudson.plugins.m2extrasteps.M2ExtraStepsWrapper>
  </buildWrappers>
</maven2-moduleset>