<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <version>1.336</version>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.ProjectMatrixAuthorizationStrategy">
    <permission>hudson.model.View.Configure:admin</permission>
    <permission>hudson.model.View.Delete:admin</permission>
    <permission>hudson.model.Item.Configure:admin</permission>
    <permission>hudson.model.Computer.Configure:admin</permission>
    <permission>hudson.scm.SCM.Tag:admin</permission>
    <permission>hudson.model.Item.Build:admin</permission>
    <permission>hudson.model.Computer.Delete:admin</permission>
    <permission>hudson.model.Run.Update:admin</permission>
    <permission>hudson.model.Item.Read:admin</permission>
    <permission>hudson.model.Run.Delete:admin</permission>
    <permission>hudson.model.Hudson.Read:anonymous</permission>
    <permission>hudson.model.Hudson.Read:admin</permission>
    <permission>hudson.model.Item.Workspace:anonymous</permission>
    <permission>hudson.model.Item.Workspace:admin</permission>
    <permission>hudson.model.View.Create:admin</permission>
    <permission>hudson.model.Item.Create:admin</permission>
    <permission>hudson.model.Hudson.Administer:admin</permission>
    <permission>hudson.model.Item.Delete:admin</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>false</disableSignup>
  </securityRealm>
  <systemMessage>&lt;H3&gt;OVERVIEW:&lt;/H3&gt; &#xd;
&lt;B&gt; To Execute JON 23 Tests, click the JON23 tab &lt;/B&gt;&lt;br&gt;&#xd;
&lt;B&gt; To Execute RHQ (iManage) Tests, click the RHQ tab &lt;/B&gt;&lt;br&gt;&#xd;
&#xd;
&lt;H3&gt; PREREQUISITE INSTRUCTIONS: &lt;/H3&gt; &#xd;
&lt;UL&gt;&#xd;
&lt;LI&gt;&lt;CODE&gt; ssh-copy-id -i &lt;A HREF=http://hudson-qe.rhq.rdu.redhat.com/auto-ssh/id_auto_dsa.pub&gt;this_publickey&lt;/A&gt; server_user@server.redhat.com&lt;/CODE&gt;  &lt;/LI&gt;&#xd;
The &lt;code&gt;server_user&lt;/code&gt; is the id of the user running the server process.&#xd;
&lt;LI&gt;&lt;CODE&gt; ssh-copy-id -i &lt;A HREF=http://hudson-qe.rhq.rdu.redhat.com/auto-ssh/id_auto_dsa.pub&gt;this_publickey&lt;/A&gt; agent_user@agent.redhat.com&lt;/CODE&gt;  &lt;/LI&gt;&#xd;
The &lt;code&gt;agent_user&lt;/code&gt; is the id of the user running the agent process.&#xd;
&lt;LI&gt;The &lt;code&gt;server&lt;/code&gt; and the &lt;code&gt;agent&lt;/code&gt; must be the fully qualified domain name and resolvable by DNS.&lt;/LI&gt;&#xd;
&lt;LI&gt;The &lt;code&gt;agent&lt;/code&gt; must already be running and registered to the &lt;code&gt;server&lt;/code&gt;.&lt;/LI&gt;&#xd;
&lt;/UL&gt;&#xd;
&#xd;
&lt;H3&gt; VIEWING INSTRUCTIONS FOR EXECUTING JOBS: &lt;/H3&gt; &#xd;
&lt;UL&gt;&#xd;
&lt;LI&gt;Jobs that are currently being executed can be viewed in action using a VNC Viewer.  Click on the running localslave in the &lt;a href=http://hudson-qe.rhq.rdu.redhat.com:8080/computer/&gt;Build Executor Status&lt;/a&gt; and follow the links to open a viewer for that slave. &lt;/LI&gt;&#xd;
&lt;/UL&gt;</systemMessage>
  <jdks>
    <jdk>
      <name>Open JDK 1.6</name>
      <home>/usr/lib/jvm/java-1.6.0-openjdk-1.6.0.0</home>
      <properties/>
    </jdk>
  </jdks>
  <clouds/>
  <slaves>
    <slave>
      <name>localslave1</name>
      <description>&lt;br&gt;To use VNC to view jobs executing on this slave:&lt;UL&gt;&lt;LI&gt;Open your browser to &lt;a href=&apos;http://hudson-qe.rhq.rdu.redhat.com:6001&apos; target=&apos;_blank&apos;&gt;http://hudson-qe.rhq.rdu.redhat.com:6001&lt;/a&gt; (if you have a java plugin)&lt;/LI&gt; or &lt;LI&gt;On the command line type: &lt;code&gt;vncviewer hudson-qe.rhq.rdu.redhat.com:1&lt;/code&gt;&lt;/LI&gt;&lt;/UL&gt;</description>
      <remoteFS>/home/hudson/localslave1</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.slaves.JNLPLauncher"/>
      <label>selenium</label>
      <nodeProperties>
        <hudson.slaves.EnvironmentVariablesNodeProperty>
          <envVars serialization="custom">
            <unserializable-parents/>
            <tree-map>
              <default>
                <comparator class="hudson.util.CaseInsensitiveComparator"/>
              </default>
              <int>1</int>
              <string>SELENIUM_ADDRESS</string>
              <string>hudson-qe.rhq.rdu.redhat.com:4441</string>
            </tree-map>
          </envVars>
        </hudson.slaves.EnvironmentVariablesNodeProperty>
      </nodeProperties>
    </slave>
    <slave>
      <name>localslave2</name>
      <description>&lt;br&gt;To use VNC to view jobs executing on this slave:&lt;UL&gt;&lt;LI&gt;Open your browser to &lt;a href=&apos;http://hudson-qe.rhq.rdu.redhat.com:6002&apos; target=&apos;_blank&apos;&gt;http://hudson-qe.rhq.rdu.redhat.com:6002&lt;/a&gt; (if you have a java plugin)&lt;/LI&gt; or &lt;LI&gt;On the command line type: &lt;code&gt;vncviewer hudson-qe.rhq.rdu.redhat.com:2&lt;/code&gt;&lt;/LI&gt;&lt;/UL&gt;</description>
      <remoteFS>/home/hudson/localslave2</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.slaves.JNLPLauncher"/>
      <label>selenium</label>
      <nodeProperties>
        <hudson.slaves.EnvironmentVariablesNodeProperty>
          <envVars serialization="custom">
            <unserializable-parents/>
            <tree-map>
              <default>
                <comparator class="hudson.util.CaseInsensitiveComparator"/>
              </default>
              <int>1</int>
              <string>SELENIUM_ADDRESS</string>
              <string>hudson-qe.rhq.rdu.redhat.com:4442</string>
            </tree-map>
          </envVars>
        </hudson.slaves.EnvironmentVariablesNodeProperty>
      </nodeProperties>
    </slave>
    <slave>
      <name>localslave3</name>
      <description>&lt;br&gt;To use VNC to view jobs executing on this slave:&lt;UL&gt;&lt;LI&gt;Open your browser to &lt;a href=&apos;http://hudson-qe.rhq.rdu.redhat.com:6003&apos; target=&apos;_blank&apos;&gt;http://hudson-qe.rhq.rdu.redhat.com:6003&lt;/a&gt; (if you have a java plugin)&lt;/LI&gt; or &lt;LI&gt;On the command line type: &lt;code&gt;vncviewer hudson-qe.rhq.rdu.redhat.com:3&lt;/code&gt;&lt;/LI&gt;&lt;/UL&gt;</description>
      <remoteFS>/home/hudson/localslave3</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.slaves.JNLPLauncher"/>
      <label>selenium</label>
      <nodeProperties>
        <hudson.slaves.EnvironmentVariablesNodeProperty>
          <envVars serialization="custom">
            <unserializable-parents/>
            <tree-map>
              <default>
                <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../../../slave/nodeProperties/hudson.slaves.EnvironmentVariablesNodeProperty/envVars/tree-map/default/comparator"/>
              </default>
              <int>1</int>
              <string>SELENIUM_ADDRESS</string>
              <string>hudson-qe.rhq.rdu.redhat.com:4443</string>
            </tree-map>
          </envVars>
        </hudson.slaves.EnvironmentVariablesNodeProperty>
      </nodeProperties>
    </slave>
    <slave>
      <name>localslave4</name>
      <description>&lt;br&gt;To use VNC to view jobs executing on this slave:&lt;UL&gt;&lt;LI&gt;Open your browser to &lt;a href=&apos;http://hudson-qe.rhq.rdu.redhat.com:6004&apos; target=&apos;_blank&apos;&gt;http://hudson-qe.rhq.rdu.redhat.com:6004&lt;/a&gt; (if you have a java plugin)&lt;/LI&gt; or &lt;LI&gt;On the command line type: &lt;code&gt;vncviewer hudson-qe.rhq.rdu.redhat.com:4&lt;/code&gt;&lt;/LI&gt;&lt;/UL&gt;</description>
      <remoteFS>/home/hudson/localslave4</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.slaves.JNLPLauncher"/>
      <label>selenium</label>
      <nodeProperties>
        <hudson.slaves.EnvironmentVariablesNodeProperty>
          <envVars serialization="custom">
            <unserializable-parents/>
            <tree-map>
              <default>
                <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../../../slave/nodeProperties/hudson.slaves.EnvironmentVariablesNodeProperty/envVars/tree-map/default/comparator"/>
              </default>
              <int>1</int>
              <string>SELENIUM_ADDRESS</string>
              <string>hudson-qe.rhq.rdu.redhat.com:4444</string>
            </tree-map>
          </envVars>
        </hudson.slaves.EnvironmentVariablesNodeProperty>
      </nodeProperties>
    </slave>
    <slave>
      <name>opos13.rhq.rdu.redhat.com01</name>
      <description>opos13.rhq.rdu.redhat.com01</description>
      <remoteFS>/home/hudson</remoteFS>
      <numExecutors>3</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.slaves.JNLPLauncher"/>
      <label>maven</label>
      <nodeProperties/>
    </slave>
  </slaves>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>JON23</name>
      <description>&lt;H3&gt;OVERVIEW:&lt;/H3&gt;&#xd;
&lt;B&gt; execute-any-group-jon23 &lt;/B&gt; contains individual suites of automated tests grouped by functional coverage. &lt;BR&gt;&#xd;
&lt;B&gt; overnight-test-all-groups-jon23 &lt;/B&gt;  is a full regression suite &lt;BR&gt;&#xd;
&#xd;
&lt;H3&gt; PREREQUISITE INSTRUCTIONS: &lt;/H3&gt; &#xd;
&lt;UL&gt;&#xd;
&lt;LI&gt;&lt;CODE&gt; ssh-copy-id -i &lt;A HREF=http://hudson-qe.rhq.rdu.redhat.com/auto-ssh/id_auto_dsa.pub&gt;this_publickey&lt;/A&gt; server_user@server.redhat.com&lt;/CODE&gt;  &lt;/LI&gt;&#xd;
The &lt;code&gt;server_user&lt;/code&gt; is the id of the user running the server process.&#xd;
&lt;LI&gt;&lt;CODE&gt; ssh-copy-id -i &lt;A HREF=http://hudson-qe.rhq.rdu.redhat.com/auto-ssh/id_auto_dsa.pub&gt;this_publickey&lt;/A&gt; agent_user@agent.redhat.com&lt;/CODE&gt;  &lt;/LI&gt;&#xd;
The &lt;code&gt;agent_user&lt;/code&gt; is the id of the user running the agent process.&#xd;
&lt;LI&gt;The &lt;code&gt;server&lt;/code&gt; and the &lt;code&gt;agent&lt;/code&gt; must be the fully qualified domain name and resolvable by DNS.&lt;/LI&gt;&#xd;
&lt;LI&gt;The &lt;code&gt;agent&lt;/code&gt; must already be running and registered to the &lt;code&gt;server&lt;/code&gt;.&lt;/LI&gt;&#xd;
&lt;/UL&gt;&#xd;
&#xd;
&lt;H3&gt; VIEWING INSTRUCTIONS FOR EXECUTING JOBS: &lt;/H3&gt; &#xd;
&lt;UL&gt;&#xd;
&lt;LI&gt;Jobs that are currently being executed can be viewed in action using a VNC Viewer.  Click on the running localslave in the &lt;a href=http://hudson-qe.rhq.rdu.redhat.com:8080/computer/&gt;Build Executor Status&lt;/a&gt; and follow the links to open a viewer for that slave. &lt;/LI&gt;&#xd;
&lt;/UL&gt;&#xd;
&#xd;
</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>execute-any-group-jon23</string>
        <string>overnight-test-all-groups-jon23</string>
        <string>populate-data</string>
      </jobNames>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <de.fspengler.hudson.pview.ConsoleViewColumn/>
      </columns>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>RHQ</name>
      <description>&lt;H3&gt;OVERVIEW:&lt;/H3&gt; &#xd;
&lt;B&gt; execute-any-group-rhq &lt;/B&gt; contains individual suites of automated tests grouped by functional coverage.&lt;BR&gt;&#xd;
&lt;B&gt; overnight-test-all-groups-rhq &lt;/B&gt; is a full regression suite that is scheduled to automatically execute everynight against an automated build and install of from the latest master.  (This job is NOT available for anonymous execution) &lt;BR&gt;&#xd;
&#xd;
&lt;H3&gt; PREREQUISITE INSTRUCTIONS: &lt;/H3&gt; &#xd;
&lt;UL&gt;&#xd;
&lt;LI&gt;&lt;CODE&gt; ssh-copy-id -i &lt;A HREF=http://hudson-qe.rhq.rdu.redhat.com/auto-ssh/id_auto_dsa.pub&gt;this_publickey&lt;/A&gt; server_user@server.redhat.com&lt;/CODE&gt;  &lt;/LI&gt;&#xd;
The &lt;code&gt;server_user&lt;/code&gt; is the id of the user running the server process.&#xd;
&lt;LI&gt;&lt;CODE&gt; ssh-copy-id -i &lt;A HREF=http://hudson-qe.rhq.rdu.redhat.com/auto-ssh/id_auto_dsa.pub&gt;this_publickey&lt;/A&gt; agent_user@agent.redhat.com&lt;/CODE&gt;  &lt;/LI&gt;&#xd;
The &lt;code&gt;agent_user&lt;/code&gt; is the id of the user running the agent process.&#xd;
&lt;LI&gt;The &lt;code&gt;server&lt;/code&gt; and the &lt;code&gt;agent&lt;/code&gt; must be the fully qualified domain name and resolvable by DNS.&lt;/LI&gt;&#xd;
&lt;LI&gt;The &lt;code&gt;agent&lt;/code&gt; must already be running and registered to the &lt;code&gt;server&lt;/code&gt;.&lt;/LI&gt;&#xd;
&lt;LI&gt;&lt;code&gt;yum install augeas&lt;/code&gt; on the &lt;code&gt;agent&lt;/code&gt; machine so that Augeas-based plugin resources (e.g. Sudoers, Samba, Cron, etc.) can be configured.&lt;/LI&gt;&#xd;
&lt;/UL&gt;&#xd;
&#xd;
&lt;H3&gt; VIEWING INSTRUCTIONS FOR EXECUTING JOBS: &lt;/H3&gt; &#xd;
&lt;UL&gt;&#xd;
&lt;LI&gt;Jobs that are currently being executed can be viewed in action using a VNC Viewer.  Click on the running localslave in the &lt;a href=http://hudson-qe.rhq.rdu.redhat.com:8080/computer/&gt;Build Executor Status&lt;/a&gt; and follow the links to open a viewer for that slave. &lt;/LI&gt;&#xd;
&lt;/UL&gt;</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>execute-any-group-rhq</string>
        <string>overnight-test-all-groups-rhq</string>
      </jobNames>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <de.fspengler.hudson.pview.ConsoleViewColumn/>
      </columns>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>RHQ-IndividualGroups</name>
      <description>&lt;h2&gt;&lt;font color=red&gt;ADMIN ONLY (These jobs are NOT available for anonymous execution.)&lt;/font&gt;&lt;/h2&gt;&#xd;
&lt;H3&gt;OVERVIEW:&lt;/H3&gt; &#xd;
&lt;B&gt; Jobs are divided into individual TEST_GROUPs&lt;/B&gt; (Permits more accurate historical trends of each test group) &lt;BR&gt;</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>AgentCommands</string>
        <string>Alerts</string>
        <string>AlertTemplates</string>
        <string>AliasesFile</string>
        <string>ConfigurationHistory</string>
        <string>Cron</string>
        <string>DatasourceCreation</string>
        <string>DynaGroups</string>
        <string>Events</string>
        <string>Favorites</string>
        <string>GeneralProperties</string>
        <string>GroupConfiguration</string>
        <string>GroupRoles</string>
        <string>HostsFile</string>
        <string>JBossAS5Plugin</string>
        <string>LDAPLogin</string>
        <string>ManualAdditionofInventory</string>
        <string>MetricSchedules</string>
        <string>MetricTemplates</string>
        <string>MicroblogAlertSenderPlugin</string>
        <string>Operations</string>
        <string>Postfix</string>
        <string>QuickLinks</string>
        <string>ResourceGroups</string>
        <string>Samba</string>
        <string>Search</string>
        <string>ServerSidePluginContainer</string>
        <string>SNMPAlertSenderPlugin</string>
        <string>SortTablesByColumns</string>
        <string>StartPageLinks</string>
        <string>Sudoers</string>
        <string>UserAdministration</string>
      </jobNames>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <de.fspengler.hudson.pview.ConsoleViewColumn/>
      </columns>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>build</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[3]/jobNames/comparator"/>
        <string>automatjon</string>
        <string>build_master-notest</string>
        <string>build_master_old</string>
        <string>gwt</string>
        <string>install-auto-rhq01</string>
        <string>install-master</string>
        <string>master</string>
        <string>python_candlepin</string>
      </jobNames>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <de.fspengler.hudson.pview.ConsoleViewColumn/>
      </columns>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>DEV</name>
      <description>&lt;H3&gt; Bugs blocking our continuous integration system&lt;/H3&gt;&#xd;
&lt;a href=https://bugzilla.redhat.com/show_bug.cgi?id=562594&gt;Unassigned bugs blocking our webui automation&lt;/a&gt;&lt;br&gt;&#xd;
&lt;a href=https://bugzilla.redhat.com/show_bug.cgi?id=562434&gt;All bugs blocking our webui automation&lt;/a&gt;&#xd;
&#xd;
&#xd;
&lt;H3&gt; Help QE be more effective :) &lt;/H3&gt; &#xd;
&lt;UL&gt;&#xd;
&lt;LI&gt; The QE team automatically installs and executes webui automation every time master is built in hudson  &lt;/LI&gt;&#xd;
&lt;LI&gt; Some tests are skipped due to known open bugs, the bugs are listed in our automation results, but are tracked above  &lt;/LI&gt;&#xd;
&lt;LI&gt; If we can reduce the number of open bugs, we will have &lt;b&gt;MORE&lt;/b&gt; tests execute against &lt;b&gt;EVERY&lt;/b&gt; build &lt;/LI&gt;&#xd;
&lt;LI&gt; The tests are executed in the &quot;overnight&quot; jobs listed below&lt;/LI&gt;&#xd;
&#xd;
&lt;br&gt;&#xd;
&lt;b&gt;Thank you!!&lt;/b&gt;&#xd;
&#xd;
</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>1.4.0-B1</string>
        <string>alertPlugin</string>
        <string>candlepin</string>
        <string>content</string>
        <string>linux-config</string>
        <string>master</string>
        <string>master-disabled</string>
        <string>overnight-test-all-groups-jon23</string>
        <string>overnight-test-all-groups-rhq</string>
        <string>raw-config</string>
        <string>test</string>
      </jobNames>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <de.fspengler.hudson.pview.ConsoleViewColumn/>
      </columns>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>candlepin</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>candlepin</string>
        <string>candlepin-utility</string>
        <string>certificate-harness</string>
        <string>certificate-service</string>
        <string>cp-services</string>
      </jobNames>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
      </columns>
    </listView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label>maven</label>
  <nodeProperties/>
  <globalNodeProperties/>
  <disabledAdministrativeMonitors/>
</hudson>