<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <version>1.352</version>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.ProjectMatrixAuthorizationStrategy">
    <permission>hudson.model.View.Create:ccrouch</permission>
    <permission>hudson.model.View.Create:jesusr</permission>
    <permission>hudson.model.View.Create:jshaughn</permission>
    <permission>hudson.model.View.Create:admin</permission>
    <permission>hudson.model.View.Create:ips</permission>
    <permission>hudson.model.View.Create:jsanda</permission>
    <permission>hudson.model.View.Create:jweiss</permission>
    <permission>hudson.model.View.Create:whayutin</permission>
    <permission>hudson.model.View.Create:jsefler</permission>
    <permission>hudson.model.View.Create:mmccune</permission>
    <permission>hudson.model.View.Create:ssalevan</permission>
    <permission>hudson.model.Computer.Delete:jesusr</permission>
    <permission>hudson.model.Computer.Delete:admin</permission>
    <permission>hudson.model.Computer.Delete:jweiss</permission>
    <permission>hudson.model.Computer.Delete:whayutin</permission>
    <permission>hudson.model.Computer.Delete:jsefler</permission>
    <permission>hudson.model.Computer.Delete:ssalevan</permission>
    <permission>hudson.model.View.Delete:jesusr</permission>
    <permission>hudson.model.View.Delete:admin</permission>
    <permission>hudson.model.View.Delete:jweiss</permission>
    <permission>hudson.model.View.Delete:whayutin</permission>
    <permission>hudson.model.View.Delete:jsefler</permission>
    <permission>hudson.model.View.Delete:ssalevan</permission>
    <permission>hudson.scm.SCM.Tag:ccrouch</permission>
    <permission>hudson.scm.SCM.Tag:jesusr</permission>
    <permission>hudson.scm.SCM.Tag:admin</permission>
    <permission>hudson.scm.SCM.Tag:jweiss</permission>
    <permission>hudson.scm.SCM.Tag:whayutin</permission>
    <permission>hudson.scm.SCM.Tag:jsefler</permission>
    <permission>hudson.scm.SCM.Tag:mmccune</permission>
    <permission>hudson.scm.SCM.Tag:ssalevan</permission>
    <permission>hudson.model.Item.Configure:jesusr</permission>
    <permission>hudson.model.Item.Configure:admin</permission>
    <permission>hudson.model.Item.Configure:jweiss</permission>
    <permission>hudson.model.Item.Configure:whayutin</permission>
    <permission>hudson.model.Item.Configure:jsefler</permission>
    <permission>hudson.model.Item.Configure:mmccune</permission>
    <permission>hudson.model.Item.Configure:ssalevan</permission>
    <permission>hudson.model.Item.Read:ccrouch</permission>
    <permission>hudson.model.Item.Read:jesusr</permission>
    <permission>hudson.model.Item.Read:jshaughn</permission>
    <permission>hudson.model.Item.Read:admin</permission>
    <permission>hudson.model.Item.Read:ips</permission>
    <permission>hudson.model.Item.Read:jsanda</permission>
    <permission>hudson.model.Item.Read:jweiss</permission>
    <permission>hudson.model.Item.Read:whayutin</permission>
    <permission>hudson.model.Item.Read:jsefler</permission>
    <permission>hudson.model.Item.Read:ssalevan</permission>
    <permission>hudson.model.Run.Update:jesusr</permission>
    <permission>hudson.model.Run.Update:admin</permission>
    <permission>hudson.model.Run.Update:jweiss</permission>
    <permission>hudson.model.Run.Update:whayutin</permission>
    <permission>hudson.model.Run.Update:jsefler</permission>
    <permission>hudson.model.Run.Update:mmccune</permission>
    <permission>hudson.model.Run.Update:ssalevan</permission>
    <permission>hudson.model.Hudson.Administer:admin</permission>
    <permission>hudson.model.Hudson.Administer:jweiss</permission>
    <permission>hudson.model.Hudson.Administer:whayutin</permission>
    <permission>hudson.model.Hudson.Administer:jsefler</permission>
    <permission>hudson.model.Hudson.Administer:ssalevan</permission>
    <permission>hudson.model.Hudson.Read:anonymous</permission>
    <permission>hudson.model.Hudson.Read:ccrouch</permission>
    <permission>hudson.model.Hudson.Read:jesusr</permission>
    <permission>hudson.model.Hudson.Read:jshaughn</permission>
    <permission>hudson.model.Hudson.Read:admin</permission>
    <permission>hudson.model.Hudson.Read:ips</permission>
    <permission>hudson.model.Hudson.Read:jsanda</permission>
    <permission>hudson.model.Hudson.Read:jweiss</permission>
    <permission>hudson.model.Hudson.Read:whayutin</permission>
    <permission>hudson.model.Hudson.Read:jsefler</permission>
    <permission>hudson.model.Hudson.Read:mmccune</permission>
    <permission>hudson.model.Hudson.Read:ssalevan</permission>
    <permission>hudson.model.Item.Workspace:anonymous</permission>
    <permission>hudson.model.Item.Workspace:ccrouch</permission>
    <permission>hudson.model.Item.Workspace:jesusr</permission>
    <permission>hudson.model.Item.Workspace:jshaughn</permission>
    <permission>hudson.model.Item.Workspace:admin</permission>
    <permission>hudson.model.Item.Workspace:ips</permission>
    <permission>hudson.model.Item.Workspace:jsanda</permission>
    <permission>hudson.model.Item.Workspace:jweiss</permission>
    <permission>hudson.model.Item.Workspace:whayutin</permission>
    <permission>hudson.model.Item.Workspace:jsefler</permission>
    <permission>hudson.model.Item.Workspace:mmccune</permission>
    <permission>hudson.model.Item.Workspace:ssalevan</permission>
    <permission>hudson.model.Item.Delete:jesusr</permission>
    <permission>hudson.model.Item.Delete:admin</permission>
    <permission>hudson.model.Item.Delete:jweiss</permission>
    <permission>hudson.model.Item.Delete:whayutin</permission>
    <permission>hudson.model.Item.Delete:jsefler</permission>
    <permission>hudson.model.Item.Delete:mmccune</permission>
    <permission>hudson.model.Item.Delete:ssalevan</permission>
    <permission>hudson.model.Item.Create:ccrouch</permission>
    <permission>hudson.model.Item.Create:jesusr</permission>
    <permission>hudson.model.Item.Create:jshaughn</permission>
    <permission>hudson.model.Item.Create:admin</permission>
    <permission>hudson.model.Item.Create:ips</permission>
    <permission>hudson.model.Item.Create:jsanda</permission>
    <permission>hudson.model.Item.Create:jweiss</permission>
    <permission>hudson.model.Item.Create:whayutin</permission>
    <permission>hudson.model.Item.Create:jsefler</permission>
    <permission>hudson.model.Item.Create:mmccune</permission>
    <permission>hudson.model.Item.Create:ssalevan</permission>
    <permission>hudson.model.Run.Delete:jesusr</permission>
    <permission>hudson.model.Run.Delete:admin</permission>
    <permission>hudson.model.Run.Delete:jweiss</permission>
    <permission>hudson.model.Run.Delete:whayutin</permission>
    <permission>hudson.model.Run.Delete:jsefler</permission>
    <permission>hudson.model.Run.Delete:mmccune</permission>
    <permission>hudson.model.Run.Delete:ssalevan</permission>
    <permission>hudson.model.Item.Build:ccrouch</permission>
    <permission>hudson.model.Item.Build:jesusr</permission>
    <permission>hudson.model.Item.Build:jshaughn</permission>
    <permission>hudson.model.Item.Build:admin</permission>
    <permission>hudson.model.Item.Build:ips</permission>
    <permission>hudson.model.Item.Build:jsanda</permission>
    <permission>hudson.model.Item.Build:jweiss</permission>
    <permission>hudson.model.Item.Build:whayutin</permission>
    <permission>hudson.model.Item.Build:jsefler</permission>
    <permission>hudson.model.Item.Build:mmccune</permission>
    <permission>hudson.model.Item.Build:ssalevan</permission>
    <permission>hudson.model.Computer.Configure:jesusr</permission>
    <permission>hudson.model.Computer.Configure:admin</permission>
    <permission>hudson.model.Computer.Configure:jweiss</permission>
    <permission>hudson.model.Computer.Configure:whayutin</permission>
    <permission>hudson.model.Computer.Configure:jsefler</permission>
    <permission>hudson.model.Computer.Configure:ssalevan</permission>
    <permission>hudson.model.View.Configure:ccrouch</permission>
    <permission>hudson.model.View.Configure:jesusr</permission>
    <permission>hudson.model.View.Configure:jshaughn</permission>
    <permission>hudson.model.View.Configure:admin</permission>
    <permission>hudson.model.View.Configure:ips</permission>
    <permission>hudson.model.View.Configure:jsanda</permission>
    <permission>hudson.model.View.Configure:jweiss</permission>
    <permission>hudson.model.View.Configure:whayutin</permission>
    <permission>hudson.model.View.Configure:jsefler</permission>
    <permission>hudson.model.View.Configure:mmccune</permission>
    <permission>hudson.model.View.Configure:ssalevan</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>false</disableSignup>
  </securityRealm>
  <systemMessage>&lt;H3&gt;QE OVERVIEW:&lt;/H3&gt; &#xd;
&lt;B&gt; To Execute JON 23 Tests, click the qe-JON tab &lt;/B&gt;&lt;br&gt;&#xd;
&lt;B&gt; To Execute RHQ Tests, click the qe-RHQ tab &lt;/B&gt;&lt;br&gt;&#xd;
&#xd;
&lt;H3&gt; PREREQUISITE INSTRUCTIONS: &lt;/H3&gt; &#xd;
&lt;UL&gt;&#xd;
&lt;LI&gt;&lt;CODE&gt; ssh-copy-id -i &lt;A HREF=http://auto-services.usersys.redhat.com/auto-ssh/id_auto_dsa.pub&gt;this_publickey&lt;/A&gt; server_user@server.redhat.com&lt;/CODE&gt;  &lt;/LI&gt;&#xd;
The &lt;code&gt;server_user&lt;/code&gt; is the id of the user running the server process.&#xd;
&lt;LI&gt;&lt;CODE&gt; ssh-copy-id -i &lt;A HREF=http://auto-services.usersys.redhat.com/auto-ssh/id_auto_dsa.pub&gt;this_publickey&lt;/A&gt; agent_user@agent.redhat.com&lt;/CODE&gt;  &lt;/LI&gt;&#xd;
The &lt;code&gt;agent_user&lt;/code&gt; is the id of the user running the agent process.&#xd;
&lt;LI&gt;The &lt;code&gt;server&lt;/code&gt; and the &lt;code&gt;agent&lt;/code&gt; must be the fully qualified domain name and resolvable by DNS.&lt;/LI&gt;&#xd;
&lt;LI&gt;The &lt;code&gt;agent&lt;/code&gt; must already be running and registered to the &lt;code&gt;server&lt;/code&gt;.&lt;/LI&gt;&#xd;
&lt;/UL&gt;&#xd;
&#xd;
&lt;H3&gt; VIEWING INSTRUCTIONS FOR EXECUTING JOBS: &lt;/H3&gt; &#xd;
&lt;UL&gt;&#xd;
&lt;LI&gt;Jobs that are currently being executed can be viewed in action using a VNC Viewer.  Click on the running localslave in the &lt;a href=http://hudson-qe.rhq.rdu.redhat.com:8080/computer/&gt;Build Executor Status&lt;/a&gt; and follow the links to open a viewer for that slave. &lt;/LI&gt;&#xd;
&lt;/UL&gt;</systemMessage>
  <jdks>
    <jdk>
      <name>Open JDK 1.6</name>
      <home>/usr/lib/jvm/java-1.6.0-openjdk-1.6.0.0</home>
      <properties/>
    </jdk>
  </jdks>
  <clouds/>
  <slaves>
    <slave>
      <name>localslave1</name>
      <description>&lt;br&gt;To use VNC to view jobs executing on this slave:&lt;UL&gt;&lt;LI&gt;Open your browser to &lt;a href=&apos;http://hudson-qe.rhq.rdu.redhat.com:6001&apos; target=&apos;_blank&apos;&gt;http://hudson-qe.rhq.rdu.redhat.com:6001&lt;/a&gt; (if you have a java plugin)&lt;/LI&gt; or &lt;LI&gt;On the command line type: &lt;code&gt;vncviewer hudson-qe.rhq.rdu.redhat.com:1&lt;/code&gt;&lt;/LI&gt;&lt;/UL&gt;</description>
      <remoteFS>/home/hudson/localslave1</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.slaves.JNLPLauncher"/>
      <label>selenium</label>
      <nodeProperties>
        <hudson.slaves.EnvironmentVariablesNodeProperty>
          <envVars serialization="custom">
            <unserializable-parents/>
            <tree-map>
              <default>
                <comparator class="hudson.util.CaseInsensitiveComparator"/>
              </default>
              <int>1</int>
              <string>SELENIUM_ADDRESS</string>
              <string>hudson-qe.rhq.rdu.redhat.com:4441</string>
            </tree-map>
          </envVars>
        </hudson.slaves.EnvironmentVariablesNodeProperty>
      </nodeProperties>
    </slave>
    <slave>
      <name>localslave2</name>
      <description>&lt;br&gt;To use VNC to view jobs executing on this slave:&lt;UL&gt;&lt;LI&gt;Open your browser to &lt;a href=&apos;http://hudson-qe.rhq.rdu.redhat.com:6002&apos; target=&apos;_blank&apos;&gt;http://hudson-qe.rhq.rdu.redhat.com:6002&lt;/a&gt; (if you have a java plugin)&lt;/LI&gt; or &lt;LI&gt;On the command line type: &lt;code&gt;vncviewer hudson-qe.rhq.rdu.redhat.com:2&lt;/code&gt;&lt;/LI&gt;&lt;/UL&gt;</description>
      <remoteFS>/home/hudson/localslave2</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.slaves.JNLPLauncher"/>
      <label>selenium</label>
      <nodeProperties>
        <hudson.slaves.EnvironmentVariablesNodeProperty>
          <envVars serialization="custom">
            <unserializable-parents/>
            <tree-map>
              <default>
                <comparator class="hudson.util.CaseInsensitiveComparator"/>
              </default>
              <int>1</int>
              <string>SELENIUM_ADDRESS</string>
              <string>hudson-qe.rhq.rdu.redhat.com:4442</string>
            </tree-map>
          </envVars>
        </hudson.slaves.EnvironmentVariablesNodeProperty>
      </nodeProperties>
    </slave>
    <slave>
      <name>localslave3</name>
      <description>&lt;br&gt;To use VNC to view jobs executing on this slave:&lt;UL&gt;&lt;LI&gt;Open your browser to &lt;a href=&apos;http://hudson-qe.rhq.rdu.redhat.com:6003&apos; target=&apos;_blank&apos;&gt;http://hudson-qe.rhq.rdu.redhat.com:6003&lt;/a&gt; (if you have a java plugin)&lt;/LI&gt; or &lt;LI&gt;On the command line type: &lt;code&gt;vncviewer hudson-qe.rhq.rdu.redhat.com:3&lt;/code&gt;&lt;/LI&gt;&lt;/UL&gt;</description>
      <remoteFS>/home/hudson/localslave3</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.slaves.JNLPLauncher"/>
      <label>selenium</label>
      <nodeProperties>
        <hudson.slaves.EnvironmentVariablesNodeProperty>
          <envVars serialization="custom">
            <unserializable-parents/>
            <tree-map>
              <default>
                <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../../../slave/nodeProperties/hudson.slaves.EnvironmentVariablesNodeProperty/envVars/tree-map/default/comparator"/>
              </default>
              <int>1</int>
              <string>SELENIUM_ADDRESS</string>
              <string>hudson-qe.rhq.rdu.redhat.com:4443</string>
            </tree-map>
          </envVars>
        </hudson.slaves.EnvironmentVariablesNodeProperty>
      </nodeProperties>
    </slave>
    <slave>
      <name>localslave4</name>
      <description>&lt;br&gt;To use VNC to view jobs executing on this slave:&lt;UL&gt;&lt;LI&gt;Open your browser to &lt;a href=&apos;http://hudson-qe.rhq.rdu.redhat.com:6004&apos; target=&apos;_blank&apos;&gt;http://hudson-qe.rhq.rdu.redhat.com:6004&lt;/a&gt; (if you have a java plugin)&lt;/LI&gt; or &lt;LI&gt;On the command line type: &lt;code&gt;vncviewer hudson-qe.rhq.rdu.redhat.com:4&lt;/code&gt;&lt;/LI&gt;&lt;/UL&gt;</description>
      <remoteFS>/home/hudson/localslave4</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.slaves.JNLPLauncher"/>
      <label>selenium</label>
      <nodeProperties>
        <hudson.slaves.EnvironmentVariablesNodeProperty>
          <envVars serialization="custom">
            <unserializable-parents/>
            <tree-map>
              <default>
                <comparator class="hudson.util.CaseInsensitiveComparator"/>
              </default>
              <int>3</int>
              <string>FUNC_HOSTNAME</string>
              <string>127.0.0.1</string>
              <string>SCP_USERNAME</string>
              <string>hudson</string>
              <string>SELENIUM_ADDRESS</string>
              <string>hudson-qe.rhq.rdu.redhat.com:4444</string>
            </tree-map>
          </envVars>
        </hudson.slaves.EnvironmentVariablesNodeProperty>
      </nodeProperties>
    </slave>
    <slave>
      <name>opos13.rhq.rdu.redhat.com01</name>
      <description>opos13.rhq.rdu.redhat.com01</description>
      <remoteFS>/home/hudson</remoteFS>
      <numExecutors>3</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.slaves.JNLPLauncher"/>
      <label>maven</label>
      <nodeProperties/>
    </slave>
  </slaves>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>qe-JON</name>
      <description>&lt;H3&gt;OVERVIEW:&lt;/H3&gt;&#xd;
&lt;B&gt; execute-any-group-jon23 &lt;/B&gt; contains individual suites of automated tests grouped by functional coverage. &lt;BR&gt;&#xd;
&lt;B&gt; overnight-test-all-groups-jon23 &lt;/B&gt;  is a full regression suite &lt;BR&gt;&#xd;
&#xd;
&lt;H3&gt; PREREQUISITE INSTRUCTIONS: &lt;/H3&gt; &#xd;
&lt;UL&gt;&#xd;
&lt;LI&gt;&lt;CODE&gt; ssh-copy-id -i &lt;A HREF=http://auto-services.usersys.redhat.com/auto-ssh/id_auto_dsa.pub&gt;this_publickey&lt;/A&gt; server_user@server.redhat.com&lt;/CODE&gt;  &lt;/LI&gt;&#xd;
The &lt;code&gt;server_user&lt;/code&gt; is the id of the user running the server process.&#xd;
&lt;LI&gt;&lt;CODE&gt; ssh-copy-id -i &lt;A HREF=http://auto-services.usersys.redhat.com/auto-ssh/id_auto_dsa.pub&gt;this_publickey&lt;/A&gt; agent_user@agent.redhat.com&lt;/CODE&gt;  &lt;/LI&gt;&#xd;
The &lt;code&gt;agent_user&lt;/code&gt; is the id of the user running the agent process.&#xd;
&lt;LI&gt;The &lt;code&gt;server&lt;/code&gt; and the &lt;code&gt;agent&lt;/code&gt; must be the fully qualified domain name and resolvable by DNS.&lt;/LI&gt;&#xd;
&lt;LI&gt;The &lt;code&gt;agent&lt;/code&gt; must already be running and registered to the &lt;code&gt;server&lt;/code&gt;.&lt;/LI&gt;&#xd;
&lt;/UL&gt;&#xd;
&#xd;
&lt;H3&gt; VIEWING INSTRUCTIONS FOR EXECUTING JOBS: &lt;/H3&gt; &#xd;
&lt;UL&gt;&#xd;
&lt;LI&gt;Jobs that are currently being executed can be viewed in action using a VNC Viewer.  Click on the running localslave in the &lt;a href=http://hudson-qe.rhq.rdu.redhat.com:8080/computer/&gt;Build Executor Status&lt;/a&gt; and follow the links to open a viewer for that slave. &lt;/LI&gt;&#xd;
&lt;/UL&gt;&#xd;
&#xd;
</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>execute-any-group-jon</string>
        <string>jon-install-latest</string>
        <string>overnight-test-all-groups-jon</string>
        <string>populate-data</string>
      </jobNames>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <de.fspengler.hudson.pview.ConsoleViewColumn/>
      </columns>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>qe-RHQ</name>
      <description>&lt;H3&gt;OVERVIEW:&lt;/H3&gt; &#xd;
&lt;B&gt; execute-any-group-rhq &lt;/B&gt; contains individual suites of automated tests grouped by functional coverage.&lt;BR&gt;&#xd;
&lt;B&gt; overnight-test-all-groups-rhq &lt;/B&gt; is a full regression suite that is scheduled to automatically execute everynight against an automated build and install of from the latest master.  (This job is NOT available for anonymous execution) &lt;BR&gt;&#xd;
&#xd;
&lt;H3&gt; PREREQUISITE INSTRUCTIONS: &lt;/H3&gt; &#xd;
&lt;UL&gt;&#xd;
&lt;LI&gt;&lt;CODE&gt; ssh-copy-id -i &lt;A HREF=http://auto-services.usersys.redhat.com/auto-ssh/id_auto_dsa.pub&gt;this_publickey&lt;/A&gt; server_user@server.redhat.com&lt;/CODE&gt;  &lt;/LI&gt;&#xd;
The &lt;code&gt;server_user&lt;/code&gt; is the id of the user running the server process.&#xd;
&lt;LI&gt;&lt;CODE&gt; ssh-copy-id -i &lt;A HREF=http://auto-services.usersys.redhat.com/auto-ssh/id_auto_dsa.pub&gt;this_publickey&lt;/A&gt; agent_user@agent.redhat.com&lt;/CODE&gt;  &lt;/LI&gt;&#xd;
The &lt;code&gt;agent_user&lt;/code&gt; is the id of the user running the agent process.&#xd;
&lt;LI&gt;The &lt;code&gt;server&lt;/code&gt; and the &lt;code&gt;agent&lt;/code&gt; must be the fully qualified domain name and resolvable by DNS.&lt;/LI&gt;&#xd;
&lt;LI&gt;The &lt;code&gt;agent&lt;/code&gt; must already be running and registered to the &lt;code&gt;server&lt;/code&gt;.&lt;/LI&gt;&#xd;
&lt;LI&gt;&lt;code&gt;yum install augeas&lt;/code&gt; on the &lt;code&gt;agent&lt;/code&gt; machine so that Augeas-based plugin resources (e.g. Sudoers, Samba, Cron, etc.) can be configured.&lt;/LI&gt;&#xd;
&lt;/UL&gt;&#xd;
&#xd;
&lt;H3&gt; VIEWING INSTRUCTIONS FOR EXECUTING JOBS: &lt;/H3&gt; &#xd;
&lt;UL&gt;&#xd;
&lt;LI&gt;Jobs that are currently being executed can be viewed in action using a VNC Viewer.  Click on the running localslave in the &lt;a href=http://hudson-qe.rhq.rdu.redhat.com:8080/computer/&gt;Build Executor Status&lt;/a&gt; and follow the links to open a viewer for that slave. &lt;/LI&gt;&#xd;
&lt;/UL&gt;</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>execute-any-group-rhq</string>
        <string>install-master-disabled</string>
        <string>overnight-test-all-groups-rhq</string>
        <string>rhq-install-latest</string>
      </jobNames>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <de.fspengler.hudson.pview.ConsoleViewColumn/>
      </columns>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>qe-RHQ-IndividualGroups</name>
      <description>&lt;!--&lt;h2&gt;&lt;font color=red&gt;ADMIN ONLY (These jobs are NOT available for anonymous execution.)&lt;/font&gt;&lt;/h2&gt;--&gt;&#xd;
&lt;H3&gt;OVERVIEW:&lt;/H3&gt; &#xd;
&lt;B&gt; Jobs are divided into individual TEST_GROUPs&lt;/B&gt; (Permits more accurate historical trends of each test group) &lt;BR&gt;</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>AgentCommands</string>
        <string>Alerts</string>
        <string>AlertSenderEmaiPlugin</string>
        <string>AlertSenderMicroblogPlugin</string>
        <string>AlertSenderSNMPPlugin</string>
        <string>AlertTemplates</string>
        <string>AliasesFile</string>
        <string>ConfigurationHistory</string>
        <string>ConnectionPropertiesEditingandHistory</string>
        <string>Content</string>
        <string>Cron</string>
        <string>DatasourceCreation</string>
        <string>DynaGroups</string>
        <string>Events</string>
        <string>Favorites</string>
        <string>GeneralProperties</string>
        <string>GroupConfiguration</string>
        <string>GroupRoles</string>
        <string>HostsFile</string>
        <string>JBossAS5Plugin</string>
        <string>JMS</string>
        <string>LDAPLogin</string>
        <string>ManualAdditionofInventory</string>
        <string>MetricSchedules</string>
        <string>MetricTemplates</string>
        <string>Operations</string>
        <string>Postfix</string>
        <string>QuickLinks</string>
        <string>ResourceGroups</string>
        <string>Samba</string>
        <string>Search</string>
        <string>ServerSidePluginContainer</string>
        <string>SortTablesByColumns</string>
        <string>StartPageLinks</string>
        <string>Sudoers</string>
        <string>UserAdministration</string>
      </jobNames>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <de.fspengler.hudson.pview.ConsoleViewColumn/>
      </columns>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>RHQ</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[3]/jobNames/comparator"/>
        <string>bugfixes</string>
        <string>gwt</string>
        <string>master</string>
      </jobNames>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <de.fspengler.hudson.pview.ConsoleViewColumn/>
      </columns>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>DEV</name>
      <description>&lt;H3&gt; Bugs blocking our continuous integration system&lt;/H3&gt;&#xd;
&lt;a href=https://bugzilla.redhat.com/show_bug.cgi?id=562594&gt;Unassigned bugs blocking our webui automation&lt;/a&gt;&lt;br&gt;&#xd;
&lt;a href=https://bugzilla.redhat.com/show_bug.cgi?id=562434&gt;All bugs blocking our webui automation&lt;/a&gt;&#xd;
&#xd;
&#xd;
&lt;H3&gt; Help QE be more effective :) &lt;/H3&gt; &#xd;
&lt;UL&gt;&#xd;
&lt;LI&gt; The QE team automatically installs and executes webui automation every time master is built in hudson  &lt;/LI&gt;&#xd;
&lt;LI&gt; Some tests are skipped due to known open bugs, the bugs are listed in our automation results, but are tracked above  &lt;/LI&gt;&#xd;
&lt;LI&gt; If we can reduce the number of open bugs, we will have &lt;b&gt;MORE&lt;/b&gt; tests execute against &lt;b&gt;EVERY&lt;/b&gt; build &lt;/LI&gt;&#xd;
&lt;LI&gt; The tests are executed in the &quot;qe&quot; job tabs listed below&lt;/LI&gt;&#xd;
&#xd;
&lt;br&gt;&#xd;
&lt;b&gt;Thank you!!&lt;/b&gt;&#xd;
&#xd;
</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>bugfixes</string>
        <string>candlepin</string>
        <string>gwt</string>
        <string>jon</string>
        <string>master</string>
        <string>master-ora</string>
        <string>pulp-dev</string>
        <string>python_candlepin</string>
      </jobNames>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <de.fspengler.hudson.pview.ConsoleViewColumn/>
      </columns>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Entitlement</name>
      <description>&lt;H3&gt;OVERVIEW:&lt;/H3&gt; &#xd;
&lt;B&gt; subscription-manager-cli &lt;/B&gt; contains test cases from &lt;A HREF=https://tcms.engineering.redhat.com/plan/2105/&gt;CLI CASES&lt;/A&gt;&lt;BR&gt;&#xd;
&#xd;
&lt;H3&gt; PREREQUISITE INSTRUCTIONS: &lt;/H3&gt; &#xd;
&lt;UL&gt;&#xd;
&lt;LI&gt;&lt;CODE&gt; ssh-copy-id -i &lt;A HREF=http://hudson-qe.rhq.rdu.redhat.com/auto-ssh/id_auto_dsa.pub&gt;this_publickey&lt;/A&gt; server_user@server.redhat.com&lt;/CODE&gt;  &lt;/LI&gt;&#xd;
The &lt;code&gt;server_user&lt;/code&gt; is the id of the user running the server process.&#xd;
&lt;LI&gt;&lt;CODE&gt; ssh-copy-id -i &lt;A HREF=http://hudson-qe.rhq.rdu.redhat.com/auto-ssh/id_auto_dsa.pub&gt;this_publickey&lt;/A&gt; agent_user@agent.redhat.com&lt;/CODE&gt;  &lt;/LI&gt;&#xd;
&#xd;
&lt;LI&gt;The &lt;code&gt;server&lt;/code&gt; and the &lt;code&gt;client&lt;/code&gt; must be the fully qualified domain name and resolvable by DNS.&lt;/LI&gt;&#xd;
&#xd;
&#xd;
&lt;/UL&gt;&#xd;
&#xd;
&lt;H3&gt; VIEWING INSTRUCTIONS FOR EXECUTING JOBS: &lt;/H3&gt; &#xd;
&lt;UL&gt;&#xd;
&lt;LI&gt;Jobs that are currently being executed can be viewed in action using a VNC Viewer.  Click on the running localslave in the &lt;a href=http://hudson-qe.rhq.rdu.redhat.com:8080/computer/&gt;Build Executor Status&lt;/a&gt; and follow the links to open a viewer for that slave. &lt;/LI&gt;&#xd;
&lt;/UL&gt;</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>certificate-harness</string>
        <string>IT-candlepin</string>
        <string>IT-candlepin-utility</string>
        <string>IT-certificate-service</string>
        <string>IT-cp-services</string>
        <string>subscription-manager-cli</string>
        <string>subscription-manager-cli-cert-fte</string>
        <string>subscription-manager-cli-prad.rdu</string>
        <string>subscription-manager-cli-statler.usersys</string>
        <string>subscription-manager-gui</string>
      </jobNames>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
      </columns>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>qe-Cloude</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>amazon-client-test</string>
        <string>cloude-client-loop-test</string>
        <string>CloudeCreate</string>
        <string>Grinder</string>
        <string>Grinder2</string>
      </jobNames>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <de.fspengler.hudson.pview.ConsoleViewColumn/>
      </columns>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>JON</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>jon</string>
      </jobNames>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <de.fspengler.hudson.pview.ConsoleViewColumn/>
      </columns>
    </listView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label>maven</label>
  <nodeProperties/>
  <globalNodeProperties/>
  <disabledAdministrativeMonitors/>
</hudson>