<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This suite will execute ALL of the individual test groups. &lt;BR&gt;&#xd;
&lt;H3&gt;MANUAL INSTRUCTIONS:&lt;/H3&gt; &#xd;
&lt;UL&gt;&#xd;
&lt;LI&gt; Click &apos;Build Now&apos; to manually begin a test run. &lt;/LI&gt;&#xd;
&lt;LI&gt; From the list of fields, read their descriptions and set the values appropriate for your testing. &lt;/LI&gt;&#xd;
&lt;LI&gt; Then click the &apos;Build&apos; button. &lt;/LI&gt;&#xd;
&lt;LI&gt; Then to view the executing tests in live action, click the &apos;localslave&apos; link in the upper right corner on the building page for further VNC instructions.&lt;/LI&gt;&#xd;
&lt;/UL&gt;</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Read:anonymous</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>SERVER_HOSTNAME</name>
          <description>Your Server Hostname like http://yourServer.com:7080</description>
          <defaultValue>http://auto-jon23.usersys.redhat.com:7080</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>VERSION</name>
          <description>Version of JON</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>2.3.0</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>USERNAME</name>
          <description>admin for Jon or imanage</description>
          <defaultValue>rhqadmin</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>PASSWORD</name>
          <description>password for admin of Jon or imanage</description>
          <defaultValue>rhqadmin</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SERVER_USER</name>
          <description>The user that jon is installed and running under.
Sometimes &quot;root&quot;, or &quot;jonqa&quot;, or another user
jon.server.user=jonqa
</description>
          <defaultValue>jonqa</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>AGENT_USER</name>
          <description>The user that rhq-agent is running under.
Sometimes &quot;root&quot;, or &quot;jonqa&quot;, or another user
jon.agent.user=root</description>
          <defaultValue>root</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>selenium</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo &quot;===============&quot;
echo  ${TEST_GROUP}
echo &quot;===============&quot;
rm -Rf *
git clone git://github.com/weissjeffm/webui-framework.git
git clone git://git.rhndev.redhat.com/automatjon
chmod 600 $WORKSPACE/automatjon/jon-2.0/.ssh/id*</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Ant>
      <targets>jon23functional-testng</targets>
      <antName>(Default)</antName>
      <buildFile>automatjon/jon-2.0/build.xml</buildFile>
      <properties>jon.server.url=${SERVER_HOSTNAME}
jon.version=${VERSION}
jon.admin.user=${USERNAME}
jon.admin.password=${PASSWORD}
jon.server.user=${SERVER_USER}
jon.agent.user=${AGENT_USER}
selenium.address=${SELENIUM_ADDRESS}</properties>
    </hudson.tasks.Ant>
    <hudson.tasks.Ant>
      <targets>overnight_reports</targets>
      <antName>(Default)</antName>
      <buildFile>automatjon/jon-2.0/build.xml</buildFile>
    </hudson.tasks.Ant>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
#kill all the leftover firefox processes that selenium started
#sudo -u vncuser killall -9 firefox
exit 0</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>automatjon/jon-2.0/test-output/**/*</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>automatjon/jon-2.0/test-output-reportng/*.xml</testResults>
      <testDataPublishers/>
    </hudson.tasks.junit.JUnitResultArchiver>
    <htmlpublisher.HtmlPublisher>
      <reportTargets>
        <htmlpublisher.HtmlPublisherTarget>
          <reportName>TestNG Report</reportName>
          <reportDir>automatjon/jon-2.0/test-output/html/</reportDir>
          <reportFiles>index.html</reportFiles>
          <keepAll>true</keepAll>
          <wrapperName>htmlpublisher-wrapper.html</wrapperName>
        </htmlpublisher.HtmlPublisherTarget>
      </reportTargets>
    </htmlpublisher.HtmlPublisher>
  </publishers>
  <buildWrappers/>
</project>