<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This suite will execute ALL of the individual test groups. &lt;BR&gt;&#xd;
This project is scheduled to kick-off automatically every night following the success of the automated build and install of master RHQ. &lt;BR&gt;&#xd;
&lt;H3&gt;MANUAL INSTRUCTIONS:&lt;/H3&gt; &#xd;
&lt;UL&gt;&#xd;
&lt;LI&gt; Click &apos;Build Now&apos; to manually begin a test run. &lt;/LI&gt;&#xd;
&lt;LI&gt; From the list of fields, read their descriptions and set the values appropriate for your testing. &lt;/LI&gt;&#xd;
&lt;LI&gt; Then click the &apos;Build&apos; button. &lt;/LI&gt;&#xd;
&lt;LI&gt; Then to view the executing tests in live action, click the &apos;localslave&apos; link in the upper right corner on the building page for further VNC instructions.&lt;/LI&gt;&#xd;
&lt;/UL&gt;&#xd;
&#xd;
&lt;font color=red&gt;WARNING:&lt;/font&gt; Do not use the TestNG Reports links on this page since their embedded screenshot links will not work.  Instead click to the build# of interest to you in the Build History table below and open its TestNG Report.</description>
  <logRotator>
    <daysToKeep>60</daysToKeep>
    <numToKeep>-1</numToKeep>
    <artifactDaysToKeep>30</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Read:anonymous</permission>
      <permission>hudson.model.Item.Build:anonymous</permission>
      <permission>hudson.model.Item.Workspace:anonymous</permission>
      <permission>hudson.model.Item.Release:anonymous</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>SERVER_HOSTNAME</name>
          <description>Your Server Hostname like http://yourServer.com:7080</description>
          <defaultValue>http://auto-rhq01.usersys.redhat.com:7080</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>VERSION</name>
          <description>3.0.0 is our version for RHQ</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>3.0.0</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>USERNAME</name>
          <description>admin for Jon or imanage</description>
          <defaultValue>rhqadmin</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>PASSWORD</name>
          <description>password for admin of Jon or imanage</description>
          <defaultValue>BP89DRZfRIkPil2otq+C6SDw3bEkqgu/TJS2quV1SmE=</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SERVER_USER</name>
          <description>&lt;b&gt;User running your rhq-server process&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Common users: &quot;root&quot;, &quot;jonqa&quot;, &quot;rhq&quot;&lt;/b&gt;
jon.server.user=jonqa
</description>
          <defaultValue>rhq</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>AGENT_USER</name>
          <description>&lt;b&gt;User running your rhq-agent process&lt;/b&gt;&lt;br&gt;
&lt;b&gt;Common users: &quot;root&quot;, &quot;jonqa&quot;, &quot;rhq&quot;&lt;/b&gt;
jon.agent.user=jonqa</description>
          <defaultValue>root</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BRANCH</name>
          <description>&lt;b&gt;Branch of automation code to run&lt;/b&gt;&lt;br&gt;</description>
          <defaultValue>master</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.trac.TracProjectProperty>
      <tracWebsite>https://engineering.redhat.com/trac/IntegratedMgmtQE#Automation/</tracWebsite>
    </hudson.plugins.trac.TracProjectProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>selenium</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo &quot;===========================================================&quot;
echo  ${TEST_GROUP}
echo &quot;===========================================================&quot;
rm -Rf *
git clone git://github.com/weissjeffm/webui-framework.git
git clone -b $BRANCH git://git.rhndev.redhat.com/automatjon
chmod 600 $WORKSPACE/automatjon/jon/.ssh/id*
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Ant>
      <targets>rhq30functional-testng</targets>
      <antName>(Default)</antName>
      <buildFile>automatjon/jon/build.xml</buildFile>
      <properties>jon.server.url=${SERVER_HOSTNAME}
jon.version=${VERSION}
jon.admin.user=${USERNAME}
jon.admin.password=${PASSWORD}
jon.server.user=${SERVER_USER}
jon.agent.user=${AGENT_USER}
selenium.address=${SELENIUM_ADDRESS_PREFIX}${EXECUTOR_NUMBER}</properties>
    </hudson.tasks.Ant>
    <hudson.tasks.Ant>
      <targets>overnight_reports</targets>
      <antName>(Default)</antName>
      <buildFile>automatjon/jon/build.xml</buildFile>
    </hudson.tasks.Ant>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>automatjon/jon/test-output/**/*</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>automatjon/jon/test-output-reportng/*.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <testDataPublishers/>
    </hudson.tasks.junit.JUnitResultArchiver>
    <htmlpublisher.HtmlPublisher>
      <reportTargets>
        <htmlpublisher.HtmlPublisherTarget>
          <reportName>TestNG Report</reportName>
          <reportDir>automatjon/jon/test-output/html</reportDir>
          <reportFiles>index.html</reportFiles>
          <keepAll>true</keepAll>
          <wrapperName>htmlpublisher-wrapper.html</wrapperName>
        </htmlpublisher.HtmlPublisherTarget>
      </reportTargets>
    </htmlpublisher.HtmlPublisher>
    <hudson.tasks.Mailer>
      <recipients>imanage-qe-list@redhat.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>