<?xml version='1.0' encoding='UTF-8'?>
<maven2-moduleset>
  <actions/>
  <description>&lt;h2&gt;JON release branch CI Build - Builds JON from SVN trunk with ci-rhq-release artifacts.&lt;h2&gt;&#xd;
&#xd;
&lt;h4&gt;Artifacts include the main distribution zipfile and the EAP, SOA-P, and EWS plugin pack zipfiles&lt;h4&gt;&#xd;
&#xd;
&lt;h4&gt;Shares a repo with the ci-rhq-release (${HOME}/.m2/release-repository) build so that jon can be built off of the desired rhq build.&lt;/h4&gt;&#xd;
&#xd;
&lt;h5&gt;maintained by &lt;a href=&quot;mailto:ips@redhat.com&quot;&gt;Ian Springer&lt;/a&gt;, &lt;a href=&quot;mailto:jshaughn@redhat.com&quot;&gt;Jay Shaughnessy&lt;/a&gt; and &lt;a href=&quot;mailto:jweiss@redhat.com&quot;&gt;Jeff Weiss&lt;/a&gt;&lt;/h5&gt;&#xd;
&#xd;
&#xd;
&#xd;
&#xd;
</description>
  <logRotator>
    <daysToKeep>7</daysToKeep>
    <numToKeep>-1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>5</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Run.Update:ccrouch</permission>
      <permission>hudson.model.Run.Update:jshaughn</permission>
      <permission>hudson.model.Run.Update:ips</permission>
      <permission>hudson.model.Run.Delete:ccrouch</permission>
      <permission>hudson.model.Run.Delete:jshaughn</permission>
      <permission>hudson.model.Run.Delete:ips</permission>
      <permission>hudson.model.Item.Release:ccrouch</permission>
      <permission>hudson.model.Item.Release:jshaughn</permission>
      <permission>hudson.model.Item.Release:ips</permission>
      <permission>hudson.model.Item.Configure:ccrouch</permission>
      <permission>hudson.model.Item.Configure:jshaughn</permission>
      <permission>hudson.model.Item.Configure:ips</permission>
      <permission>hudson.model.Item.Workspace:ccrouch</permission>
      <permission>hudson.model.Item.Workspace:jshaughn</permission>
      <permission>hudson.model.Item.Workspace:ips</permission>
      <permission>hudson.model.Item.Delete:jshaughn</permission>
      <permission>hudson.model.Item.Delete:ips</permission>
      <permission>hudson.model.Item.Read:ccrouch</permission>
      <permission>hudson.model.Item.Read:anonymous</permission>
      <permission>hudson.model.Item.Read:jshaughn</permission>
      <permission>hudson.model.Item.Read:ips</permission>
      <permission>hudson.model.Item.Build:ccrouch</permission>
      <permission>hudson.model.Item.Build:anonymous</permission>
      <permission>hudson.model.Item.Build:ips</permission>
    </hudson.security.AuthorizationMatrixProperty>
  </properties>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://jonadmin:jmazzite42!@svn.devel.redhat.com/repos/jboss-jon/trunk</remote>
        <local>.</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <useUpdate>true</useUpdate>
    <doRevert>false</doRevert>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
  </scm>
  <assignedNode>opos13.rhq.rdu.redhat.com01</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>true</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <rootModule>
    <groupId>org.jboss.on</groupId>
    <artifactId>jboss-on-parent</artifactId>
  </rootModule>
  <goals>--settings etc/m2/settings.xml -P$JOB_NAME -Dmaven.repo.local=${HOME}/.m2/release-repository clean install</goals>
  <alternateSettings>etc/m2/jon-bootstrap-settings.xml</alternateSettings>
  <defaultGoals>install</defaultGoals>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <incrementalBuild>false</incrementalBuild>
  <usePrivateRepository>false</usePrivateRepository>
  <ignoreUpstremChanges>true</ignoreUpstremChanges>
  <archivingDisabled>true</archivingDisabled>
  <reporters>
    <hudson.maven.reporters.MavenMailer>
      <recipients>jboss-on-team@redhat.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.maven.reporters.MavenMailer>
  </reporters>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>jon/dist/**/target/*.zip</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers>
    <hudson.plugins.m2extrasteps.M2ExtraStepsWrapper>
      <preBuildSteps>
        <hudson.tasks.Shell>
          <command># Print some environment info.
echo WORKSPACE=${WORKSPACE}
echo JAVA_HOME=${JAVA_HOME}
#M2_HOME=/qa/tools/opt/maven-2.1.0
echo M2_HOME=${M2_HOME}
echo MAVEN_OPTS=${MAVEN_OPTS}

LOCAL_REPO=${HOME}/.m2/jon-repository
mkdir -p $LOCAL_REPO
find $LOCAL_REPO 
</command>
        </hudson.tasks.Shell>
      </preBuildSteps>
      <postBuildSteps/>
      <runIfResult>allCases</runIfResult>
    </hudson.plugins.m2extrasteps.M2ExtraStepsWrapper>
  </buildWrappers>
</maven2-moduleset>