<?xml version='1.0' encoding='UTF-8'?>
<maven2-moduleset>
  <actions/>
  <description></description>
  <logRotator>
    <daysToKeep>60</daysToKeep>
    <numToKeep>-1</numToKeep>
    <artifactDaysToKeep>30</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Delete:ccrouch</permission>
      <permission>hudson.model.Item.Delete:jshaughn</permission>
      <permission>hudson.model.Item.Delete:ips</permission>
      <permission>hudson.model.Item.Build:ccrouch</permission>
      <permission>hudson.model.Item.Build:anonymous</permission>
      <permission>hudson.model.Item.Build:jshaughn</permission>
      <permission>hudson.model.Item.Build:jsanda</permission>
      <permission>hudson.model.Item.Build:ips</permission>
      <permission>hudson.model.Run.Update:ccrouch</permission>
      <permission>hudson.model.Run.Update:jshaughn</permission>
      <permission>hudson.model.Run.Update:ips</permission>
      <permission>hudson.model.Item.Configure:ccrouch</permission>
      <permission>hudson.model.Item.Configure:jshaughn</permission>
      <permission>hudson.model.Item.Configure:jsanda</permission>
      <permission>hudson.model.Item.Configure:ips</permission>
      <permission>hudson.model.Item.Read:ccrouch</permission>
      <permission>hudson.model.Item.Read:anonymous</permission>
      <permission>hudson.model.Item.Read:jshaughn</permission>
      <permission>hudson.model.Item.Read:jsanda</permission>
      <permission>hudson.model.Item.Read:ips</permission>
      <permission>hudson.model.Item.Release:ccrouch</permission>
      <permission>hudson.model.Item.Release:jshaughn</permission>
      <permission>hudson.model.Item.Release:ips</permission>
      <permission>hudson.model.Item.Workspace:ccrouch</permission>
      <permission>hudson.model.Item.Workspace:anonymous</permission>
      <permission>hudson.model.Item.Workspace:jshaughn</permission>
      <permission>hudson.model.Item.Workspace:jsanda</permission>
      <permission>hudson.model.Item.Workspace:ips</permission>
      <permission>hudson.model.Run.Delete:ccrouch</permission>
      <permission>hudson.model.Run.Delete:jshaughn</permission>
      <permission>hudson.model.Run.Delete:ips</permission>
    </hudson.security.AuthorizationMatrixProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM">
    <configVersion>1</configVersion>
    <remoteRepositories>
      <org.spearce.jgit.transport.RemoteConfig>
        <string>origin</string>
        <int>5</int>
        <string>fetch</string>
        <string>+refs/heads/*:refs/remotes/origin/*</string>
        <string>receivepack</string>
        <string>git-upload-pack</string>
        <string>uploadpack</string>
        <string>git-upload-pack</string>
        <string>url</string>
        <string>git://git.fedorahosted.org/rhq/rhq.git</string>
        <string>tagopt</string>
        <string></string>
      </org.spearce.jgit.transport.RemoteConfig>
    </remoteRepositories>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>origin/bugfixes</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <mergeOptions/>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <clean>false</clean>
    <choosingStrategy>Default</choosingStrategy>
    <submoduleCfg class="list"/>
  </scm>
  <assignedNode>opos13.rhq.rdu.redhat.com01</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec># every 5 minutes
*/5 * * * *
</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <rootModule>
    <groupId>org.rhq</groupId>
    <artifactId>rhq-parent</artifactId>
  </rootModule>
  <goals>--settings settings.xml clean install -Drhq.test.ds.db-name=rhqupgrade -Drhq.test.ds.connection-url=&quot;jdbc:postgresql://127.0.0.1:5432/rhqupgrade&quot; -Ddbreset -Dupgrade.db -Djon.release=2.3.1 -DDatabaseTest.nofail -Pjon</goals>
  <defaultGoals>install</defaultGoals>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <incrementalBuild>false</incrementalBuild>
  <usePrivateRepository>true</usePrivateRepository>
  <ignoreUpstremChanges>true</ignoreUpstremChanges>
  <archivingDisabled>true</archivingDisabled>
  <reporters>
    <hudson.maven.reporters.MavenMailer>
      <recipients>jboss-on-team@redhat.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.maven.reporters.MavenMailer>
  </reporters>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.setenv.SetEnvBuildWrapper>
      <localVarText>LANG=en_US.iso88591
</localVarText>
    </hudson.plugins.setenv.SetEnvBuildWrapper>
    <hudson.plugins.m2extrasteps.M2ExtraStepsWrapper>
      <preBuildSteps>
        <hudson.tasks.Shell>
          <command># Print some environment info.
echo WORKSPACE=${WORKSPACE}
echo JAVA_HOME=${JAVA_HOME}
#M2_HOME=/qa/tools/opt/maven-2.1.0
echo M2_HOME=${M2_HOME}
echo MAVEN_OPTS=${MAVEN_OPTS}

LOCAL_REPO=${WORKSPACE}/.repository
#rm -rf $LOCAL_REPO

echo &quot;Checking out settings.xml from JON SVN...&quot;
echo t | svn export --username jonadmin --password jmazzite42! https://svn.devel.redhat.com/repos/jboss-jon/trunk/etc/m2/settings.xml
</command>
        </hudson.tasks.Shell>
      </preBuildSteps>
      <postBuildSteps/>
      <runIfResult>allCases</runIfResult>
    </hudson.plugins.m2extrasteps.M2ExtraStepsWrapper>
  </buildWrappers>
</maven2-moduleset>