<?xml version='1.0' encoding='UTF-8'?>
<maven2-moduleset>
  <actions/>
  <description>Continuous Build - Builds RHQ &apos;gwt&apos; branch on Postgres 8.4&#xd;
</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>5</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>5</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Build:ccrouch</permission>
      <permission>hudson.model.Item.Build:anonymous</permission>
      <permission>hudson.model.Item.Build:jshaughn</permission>
      <permission>hudson.model.Item.Build:ips</permission>
      <permission>hudson.model.Run.Delete:ccrouch</permission>
      <permission>hudson.model.Run.Delete:jshaughn</permission>
      <permission>hudson.model.Run.Delete:ips</permission>
      <permission>hudson.model.Item.Release:ccrouch</permission>
      <permission>hudson.model.Item.Release:jshaughn</permission>
      <permission>hudson.model.Item.Release:ips</permission>
      <permission>hudson.model.Item.Workspace:ccrouch</permission>
      <permission>hudson.model.Item.Workspace:anonymous</permission>
      <permission>hudson.model.Item.Workspace:jshaughn</permission>
      <permission>hudson.model.Item.Workspace:ips</permission>
      <permission>hudson.model.Item.Delete:ccrouch</permission>
      <permission>hudson.model.Item.Delete:jshaughn</permission>
      <permission>hudson.model.Item.Delete:ips</permission>
      <permission>hudson.model.Item.Read:ccrouch</permission>
      <permission>hudson.model.Item.Read:anonymous</permission>
      <permission>hudson.model.Item.Read:jshaughn</permission>
      <permission>hudson.model.Item.Read:ips</permission>
      <permission>hudson.model.Run.Update:ccrouch</permission>
      <permission>hudson.model.Run.Update:jshaughn</permission>
      <permission>hudson.model.Run.Update:ips</permission>
      <permission>hudson.model.Item.Configure:ccrouch</permission>
      <permission>hudson.model.Item.Configure:jshaughn</permission>
      <permission>hudson.model.Item.Configure:ips</permission>
    </hudson.security.AuthorizationMatrixProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM">
    <configVersion>1</configVersion>
    <remoteRepositories>
      <org.spearce.jgit.transport.RemoteConfig>
        <string>origin</string>
        <int>5</int>
        <string>fetch</string>
        <string>+refs/heads/*:refs/remotes/origin/*</string>
        <string>receivepack</string>
        <string>git-upload-pack</string>
        <string>uploadpack</string>
        <string>git-upload-pack</string>
        <string>url</string>
        <string>git://git.fedorahosted.org/rhq/rhq.git</string>
        <string>tagopt</string>
        <string></string>
      </org.spearce.jgit.transport.RemoteConfig>
    </remoteRepositories>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>origin/gwt</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <mergeOptions/>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <clean>false</clean>
    <choosingStrategy>Default</choosingStrategy>
    <submoduleCfg class="list"/>
  </scm>
  <assignedNode>opos13.rhq.rdu.redhat.com01</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.TimerTrigger>
      <spec>30 13 * * 1-5</spec>
    </hudson.triggers.TimerTrigger>
    <hudson.triggers.SCMTrigger>
      <spec>*/15 * * * *</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <rootModule>
    <groupId>org.rhq</groupId>
    <artifactId>rhq-parent</artifactId>
  </rootModule>
  <goals>--settings=settings.xml -P$JOB_NAME,enterprise -Ddbreset clean install</goals>
  <defaultGoals>install</defaultGoals>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <incrementalBuild>false</incrementalBuild>
  <usePrivateRepository>true</usePrivateRepository>
  <ignoreUpstremChanges>false</ignoreUpstremChanges>
  <archivingDisabled>true</archivingDisabled>
  <reporters>
    <hudson.maven.reporters.MavenMailer>
      <recipients>jboss-on-team@redhat.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.maven.reporters.MavenMailer>
  </reporters>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>modules/enterprise/server/container/target/rhq-server*.zip,modules/rhq-plugin-pack*.zip</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.plugins.chucknorris.CordellWalkerRecorder>
      <factGenerator/>
    </hudson.plugins.chucknorris.CordellWalkerRecorder>
  </publishers>
  <buildWrappers>
    <hudson.plugins.m2extrasteps.M2ExtraStepsWrapper>
      <preBuildSteps>
        <hudson.tasks.Shell>
          <command># Print some environment info.
echo WORKSPACE=${WORKSPACE}
echo JAVA_HOME=${JAVA_HOME}
#M2_HOME=/qa/tools/opt/maven-2.1.0
echo M2_HOME=${M2_HOME}
echo MAVEN_OPTS=${MAVEN_OPTS}

echo &quot;Checking out settings.xml from JON SVN...&quot;
echo t | svn export --username jonadmin --password jmazzite42! https://svn.devel.redhat.com/repos/jboss-jon/trunk/etc/m2/settings.xml
</command>
        </hudson.tasks.Shell>
      </preBuildSteps>
      <postBuildSteps>
        <hudson.tasks.Shell>
          <command>cd modules
zip -1 -r rhq-plugin-pack-all-SNAPSHOT.zip plugins/* enterprise/server/plugins/* -i *SNAPSHOT.jar</command>
        </hudson.tasks.Shell>
      </postBuildSteps>
      <runIfResult>allCases</runIfResult>
    </hudson.plugins.m2extrasteps.M2ExtraStepsWrapper>
  </buildWrappers>
</maven2-moduleset>