<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>blippy</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Workspace:mmccune</permission>
      <permission>hudson.model.Item.Release:mmccune</permission>
      <permission>hudson.model.Item.Delete:mmccune</permission>
      <permission>hudson.model.Run.Delete:mmccune</permission>
      <permission>hudson.model.Item.Configure:mmccune</permission>
      <permission>hudson.model.Item.Read:mmccune</permission>
      <permission>hudson.model.Item.Build:mmccune</permission>
      <permission>hudson.model.Run.Update:mmccune</permission>
    </hudson.security.AuthorizationMatrixProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM">
    <configVersion>1</configVersion>
    <remoteRepositories>
      <org.spearce.jgit.transport.RemoteConfig>
        <string>origin</string>
        <int>5</int>
        <string>fetch</string>
        <string>+refs/heads/*:refs/remotes/origin/*</string>
        <string>receivepack</string>
        <string>git-upload-pack</string>
        <string>uploadpack</string>
        <string>git-upload-pack</string>
        <string>url</string>
        <string>git://git.fedorahosted.org/git/pulp.git/</string>
        <string>tagopt</string>
        <string></string>
      </org.spearce.jgit.transport.RemoteConfig>
    </remoteRepositories>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>**</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <mergeOptions/>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <clean>false</clean>
    <choosingStrategy>Default</choosingStrategy>
    <submoduleCfg class="list"/>
  </scm>
  <assignedNode>opos13.rhq.rdu.redhat.com01</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>5 * * * *</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>nosetests</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>